/*= default.css ==

/*  この CSS は部分的に BEM (Block - Element - Modifier) 設計を取り入れています．

/*  Taiga Ozawa, 2020

/*===============*/


/********** タグ設定 ************************************************/

html {
  font-size: 10px; /* 1rem = 10px と定義 */
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}


/********** レイアウト設定 ************************************************/

/*== header ====================================*/

.header {
  background-color: rgba(0, 0, 0, 0.911);
}

.headerInner {
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.header__logo {
  color: orange;
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom:2rem;
}

.header__logo--eng {
  color: white;
  font-size: 2rem;
}

/* header のレスポンシブ対応 */
@media screen and (max-width: 600px) {
  .header__logo{
  font-size: 1.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1.3rem;
  }
  .header__logo--eng {
    font-size: 1.4rem;
  }
}


/*== WELCOME WINDOW ====================================*/

.welcome {
  position: relative;
}

.welcome__image {
  width: 100%;
}

.welcome__message {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 6rem;
  font-weight: bold;
  bottom: 5rem;
  right: 10%;
}

.welcome__messageEng {
  font-size: 4rem;
}

/* レスポンシブ対応 */
@media screen and (max-width: 1024px) {
  .welcome__message {
    font-size: 5rem;
    bottom: 3rem;
    right: 10%;
    }
  .welcome__messageEng {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .welcome__message {
  font-size: 4rem;
  right: 3rem;
  bottom: 10%;
  }
  .welcome__messageEng {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .welcome__message {
  font-size: 2.5rem;
  right: 3rem;
  bottom: 15%;
  }
  .welcome__messageEng {
    font-size: 1.5rem;
  }
}


/*== main ==================================*/

.mainInner {
  width: 90%;
  max-width: 1024px;
  margin:auto;
}

/*== footer ==================================*/

.footerInner {
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

/********** コンポーネント設定 **********************************************************/

/*== リンク =================================*/
.seeDetails {
  color: rgb(0, 89, 255);
}
/* .mainIntro のレスポンシブ対応 */
@media screen and (max-width: 600px) {
  .mainIntro__name{
  font-size: 1.8rem;
  }
}

/*== ボタン ====================================*/
.button {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(44, 44, 44);
  font-size: 1.5rem;
  border-radius: 8px;
  color: white;
  width: auto;
  display: inline-block;
}
.button:hover{
  background-color: rgb(85, 85, 85);
}
.iconContainer{
  margin-top: 0rem;
}
.iconContainer__icon{
  font-size: 6rem;
 
}
.iconContainer__caption {
  margin: 0rem;
  padding: 0rem;
  font-size: 1.5rem;
  line-height: 0.5rem;
}
.iconIsHover{
  width: auto;
  display: inline-block;
  color: rgb(14, 14, 14);
}
.iconIsHover:hover{
  color: rgb(85, 85, 85);
}


/*== 自己紹介 ==================================*/
.mainIntro {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 5rem
}

.mainIntro__title {
  border-bottom: solid 2px orange;
  padding-bottom: 0.5rem;
}
.mainIntro__name {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 15px;
}
.mainIntro__position {
  font-size: 1.6rem;
  margin: 5px;
}
.mainIntro__position--eng {
  font-size: 1.5rem;
}
.mainIntro__buttonContainer {
  margin-top: 2rem;
}
.iconContainer--introGithub {
  margin-top: 1rem;
}

