/*******************
     profile.css   
*******************/

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.profileHeading {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: solid 2px orange;
  padding: 0 1rem 0 1rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.profileCategoryWrapper {
  margin-bottom: 4rem;
}
.profileCategory {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 2.7rem;
}
.profileCategory__title, .profileCategory__year {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-align: right;
  margin-right: 3rem;
  flex-basis: 25%;
}
.profileCategory__year {
  color: rgb(197, 197, 197);
}
.profileCategory__contents {
  font-size: 2rem;
  flex-basis: 75%;
  display:flex;
  flex-wrap: wrap;
}
.profileButtonContainer {
  display: flex;
  flex-wrap: wrap;
}
.profileButtonContainer__button {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 5rem;
}
.background--black {
  background-color: rgb(19, 19, 19);
  color: white;
}

@media screen and (max-width:700px) {
  .profileInfo {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .profileHeading {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .profileCategory {
    line-height: 2.2rem;
  }
  .profileCategory__title, .profileCategory__year {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .profileCategory__contents {
    font-size: 1.7rem;
  }
}
@media screen and (max-width:400px) {
  .profileInfo {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .profileCategory__title{
    flex-basis: 30%;
  }
  .profileCategory__title, .profileCategory__year {
    font-size: 1.2rem;
  }
  .profileCategory__contents {
    font-size: 1.5rem;
  }
}