.workInProgress {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.progressHeading {
  font-size: 3rem;
  font-weight: bold;
}
.progressHeading__eng {
  font-style: italic;
  font-size: 2.5rem;
}
.progressInfo {
  margin-top: 3rem;
  font-size: 2rem;
}
.logo404 {
  font-size: 10rem;
  color: rgb(255, 166, 0);
}

@media screen and (max-width:470px) {
  .progressHeading {
    font-size: 2.5rem;
  }
  .progressHeading {
    font-size: 2.2rem;
  }
  .progressInfo {
    font-size: 1.7rem;
  }
}