/*= default.css ==

/*  この CSS は部分的に BEM (Block - Element - Modifier) 設計を取り入れています．

/*  Taiga Ozawa, 2020

/*===============*/


img {
  display:block; /* 画像の下の不自然な余白除去 */
}

/********** レイアウト設定 ************************************************/


/*== WELCOME WINDOW ====================================*/

.welcome {
  position: relative;
}

.welcome__image {
  width: 100%;
}

.welcome__message{
  margin:auto;
  width: 95%;
  max-width: 1200px;
}
.welcomeMessageBox{
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  text-shadow: 1px 1px 1px #000000;
  display: flex;
  align-items: baseline;
}
.welcomeMessageBox__jpn {
  font-size: 5rem;
}
.welcomeMessageBox__eng {
  font-size: 4rem;
  margin-left: 1rem;
}

/* レスポンシブ対応 */
@media screen and (max-width:700px) {
  .welcome__message{
    width:100%;
  }
  .welcomeMessageBox {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .welcomeMessageBox__jpn{
    font-size: 3rem;
  }
  .welcomeMessageBox__eng{
    font-size: 2rem;
  }
}
@media screen and (max-width:350px) {
  .welcomeMessageBox__jpn{
     font-size: 2.5rem; 
     line-height: 2.5rem;
  }
  .welcomeMessageBox__eng{
    font-size: 2rem;
  }
}

/*== MAIN ===========================*/
.introContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.introContainer__info {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.introJpn {
  border-bottom: solid 2px orange;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  line-height: 4rem;
}
.introEng {
  margin-top: 1rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.introJpn__name {
  font-weight: bold;
  font-size: 3rem;
}
.introEng__name {
  font-weight: bold;
  font-size: 2.5rem;
}
.introJpn__posi {
  font-size: 2rem;
  margin-left: 6rem;
  font-weight: bold;
}
.introEng__posi {
  font-size: 1.7rem;
  margin-left: 3rem;
  font-weight: bold;
  line-height: 3rem;
}
.introButtonContainer{
  display: flex;
  flex-wrap: wrap;
}
.introButtonContainer__stdButton{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.stdButton {
  background-color: rgb(0, 99, 180) ;
  padding: 0.8rem 1.5rem 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  display:flex;
  align-items: center;
}
.buttonLetters__jpn {
  font-weight: bold;
}
.stdButton:hover {
  background-color: rgb(35, 139, 224) ;
}
.buttonArrows {
  font-size: 2rem;
  margin-left: 1rem;
}
@media screen and (max-width:700px) {
  .introContainer {
    justify-content: center;
  }
  .introJpn {
    justify-content: center;
  }
  .introEng {
    justify-content: center;
  }
  .introEng__posi {
    margin-left: 2rem;
  }
  .introJpn__posi {
    margin-left: 2rem;
  }
  .introButtonContainer {
    flex-direction: column;
    align-items: center;
  }
}



